NEXT_PUBLIC_API_URL = "https://vitopia-backend.vercel.app/api"
AUTH_SECRET= "" # Generate a secret using `openssl rand -base64 32`
NEXTAUTH_URL= "http://localhost:3000" # The base URL of the site (e.g. http://localhost:3000)
AUTH_GOOGLE_ID= "" # Google Client ID
AUTH_GOOGLE_SECRET= "" # Google Client Secret

NEXTJS_ENV=development

DATABASE_URL="postgresql://username:password@host:port/db"

NEXT_API_TOKEN = ""

JWT_SECRET = ""


# AWS S3 Bucket
AWS_KEY_ID= "" # AWS Access Key ID
AWS_SECRET_ACCESS_KEY= "" # AWS Secret Access Key
AWS_REGION= "" # AWS Region
AWS_BUCKET_NAME= "" # AWS S3 Bucket Name